# Data Science Tools and Ecosystem

This notebook seeks to summarize Data Science Tools and it's Ecosystem.

**Objectives:**

- Creating a jupyter notebook
- List some languages data scientists use.
- List some data science libriaries.

The most popular Data Science Languages are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

The most popular Data Science libraries are:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. TensorFlow
6. Keras
7. SciKit-Learn
8. PyTorch
9. BeautifulSoup
10. Scrapy

| Data Science Tools |
|--------------------|
| Apache Spark       |
| BigML              |
| SAS                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

a = (200/60)
print ("200 minutes translates to", a,"hours")

200 minutes translates to 3.3333333333333335 hours

## Author:

Sanele Vakubi